<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <div class="card">
            <div class="card-body">
                <form action="/works/edit/{{works._id}}" method="POST">
                    <div class="form-group">
                        <label for="">Title</label>
                        <input type="text" name="title" value="{{works.title}}" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="Enter title" autofocus>
                        <small id="emailHelp" class="form-text text-muted">Enter a title here.</small>
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" name="description" value="{{works.description}}" class="form-control" id="exampleInputPassword1" placeholder="Description">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>